<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Do It Django</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/about_me/">About Me</a></li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="modal"
                       data-bs-target="#loginModal">Log-In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Modal-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">사용자 로그인</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-secondary"><i
                                class="fas fa-sign-in-alt fa-shake"></i>&nbsp;Sign-in
                        </button>
                        <button type="button" class="btn btn-outline-secondary"><i
                                class="fas fa-user-plus fa-shake"></i>&nbsp;Sign-up
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn-block btn-sm" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>